.sidenav {
  width: 250px;
  transition: 0.3s;
  background-color: #111;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 60px;
  overflow-x: hidden;
  z-index: 1000;
}

.sidenav.closed {
  width: 0;
  padding-top: 0;
  overflow: hidden;
}

.sidenav a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  color: #ccc;
  display: block;
}

.sidenav a:hover {
  color: #fff;
}

.closebtn {
  font-size: 30px;
  margin-left: 20px;
  cursor: pointer;
}
